doctype html
html
  head
    title Yawenina's Blog
    link(rel="stylesheet", href="/dist/App.css")
    link(rel="shortcut icon", href="/images/icon.png", type="image/x-icon")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header.header
      .nav-container
        nav.nav
          a.nav__brand(href="/")
            img.logo--light(src="/images/yawenina.png")
          button.nav__hamburger
            span
            span
            span
          ul.nav__list
            li: a(href="/") 个人博客
            li: a(href="/demos") 作品展示
            //- li: a(href="/about") 关于我
    main.main
      block message
        if locals.flashes
          .flash-messages
            -const categories = Object.keys(flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
      .content
        block content
    footer.footer
      p © Yawenina 2017. All rights reserved
      block script
        script(src="/dist/App.bundle.js")