.blog {
  padding: 2rem;
}

.article {
  &__info {
    text-align: center;
  }
  &__created {
    padding: .5rem 0;
  }
  &__content {
    margin: 2.5rem 0;
  }
}

.social-share {
  padding: 30px 0 0;
}