mixin pagination(page, pages) 
  .pagination
    .pagination__prev
      if page > 1
        a(href=`/blog/page/${page - 1}`) Prev
    .pagination__text= page
    .pagination__next
      if page < pages
        a(href=`/blog/page/${parseFloat(page) + 1}`) Next
